version: "{build}"

environment:
  auth_token:
    secure: JX1qsRmmO9Lw2BUk9rVv4Eht+1vvE3wCS56PXjcWDQhGZs+Kj/38hzYb8T6zMKuS

init: # Install and update conda
  - cd %APPVEYOR_BUILD_FOLDER% # C:\projects\conda-appveyor
  - >
      appveyor DownloadFile
      http://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe
  - .\Miniconda3-latest-Windows-x86_64.exe /S /D=C:\Python34-x64
  - C:\Python34-x64\Scripts\conda.exe update conda --yes -q
  - C:\Python34-x64\Scripts\conda.exe install conda-build --yes -q
  - C:\Python34-x64\Scripts\conda.exe install anaconda-client --yes -q
  - del .\Miniconda3-latest-Windows-x86_64.exe

build_script:
  - cd %APPVEYOR_BUILD_FOLDER% # C:\projects\conda-appveyor
  - C:\Python34-x64\Scripts\conda.exe build winshell -q
  - C:\Python34-x64\Scripts\conda.exe build 7za -q

after_build:
  - cd C:\Python34-x64\conda-bld\win-64\
  - >
      for %%i in (
      winshell-*.tar.bz2
      7za-*.tar.bz2
      ) do (
      appveyor PushArtifact %%i &&
      %APPVEYOR_BUILD_FOLDER%\upload.bat %auth_token% %%i
      )

# To debug using Remote Desktop Protocal (RDP):
# - ps: >
#     $blockRdp = $true;
#     iex ((new-object net.webclient).DownloadString(("{0}{1}" -f
#     'https://raw.githubusercontent.com/appveyor/ci/master/scripts/',
#     'enable-rdp.ps1')))

# vim: softtabstop=2 shiftwidth=2
