version: "{build}"

init:
  # Install and update conda
  - cd %APPVEYOR_BUILD_FOLDER% # C:\projects\conda-appveyor
  - >
      appveyor DownloadFile
      http://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe
  - .\Miniconda3-latest-Windows-x86_64.exe /S /D=C:\Python34-x64
  - C:\Python34-x64\Scripts\conda.exe update conda --yes -q
  - C:\Python34-x64\Scripts\conda.exe install conda-build --yes -q
  - del .\Miniconda3-latest-Windows-x86_64.exe

build_script:
  # winshell
  - C:\Python34-x64\Scripts\conda.exe build winshell -q
  - cd C:\Python34-x64\conda-bld\win-64\
  - for %%i in ( winshell-*.tar.bz2 ) do appveyor PushArtifact %%i
# - ps: >
#     $blockRdp = $true;
#     iex ((new-object net.webclient).DownloadString(("{0}{1}" -f
#     'https://raw.githubusercontent.com/appveyor/ci/master/scripts/',
#     'enable-rdp.ps1')))

# vim: softtabstop=2 shiftwidth=2
