version: "{build}"

build_script:
  # C:\projects\conda-appveyor
  - cd %APPVEYOR_BUILD_FOLDER%
  - >
      appveyor DownloadFile
      http://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe
  - .\Miniconda3-latest-Windows-x86_64.exe /S /D=C:\Python34-x64
  - C:\Python34-x64\Scripts\conda.exe update conda --yes -q
  - C:\Python34-x64\Scripts\conda.exe install conda-build --yes -q
  - C:\Python34-x64\Scripts\conda.exe build winshell -q
  - >
      appveyor PushArtifact
      C:\Python34-x64\conda-bld\win-64\winshell-0.6-py34_0.tar.bz2
# - ps: >
#     $blockRdp = $true;
#     iex ((new-object net.webclient).DownloadString(("{0}{1}" -f
#     'https://raw.githubusercontent.com/appveyor/ci/master/scripts/',
#     'enable-rdp.ps1')))

# vim: softtabstop=2 shiftwidth=2
