version: "{build}"

build_script:
  # C:\projects\conda-appveyor
  - cd %APPVEYOR_BUILD_FOLDER%
  - >
      appveyor DownloadFile
      http://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe
  - ps: >
      Start-Process -FilePath '.\Miniconda3-latest-Windows-x86_64.exe'
      -ArgumentList '/S /D=C:\Python34-x64' -Wait -Passthru
  - conda update conda --yes
  - conda install conda-build --yes
  - conda build winshell
  - >
      appveyor PushArtifact
      C:\Python34-64\conda-bld\win-64\winshell-0.6-py34_0.tar.bz2
# - ps: >
#     $blockRdp = $true;
#     iex ((new-object net.webclient).DownloadString(("{0}{1}" -f
#     'https://raw.githubusercontent.com/appveyor/ci/master/scripts/',
#     'enable-rdp.ps1')))

# vim: softtabstop=2 shiftwidth=2
